---
title: BAM Next Wave Festival
---

<% data.events.each do |e| %>
  <a href="<%= e["slug"] %>.html">
    <h2><%= e["title"] %></h2>
    <% e["dates"].each do |date| %>
        <h5><%= date["day"] %></h5>
        <h5><%= date["month"] %></h5>
    <% end %>
  </a>
<% end %>